<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <title>Ejemplo de Firebase y VueJs</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>

<body>
    <div id="app">
        <div class="panel panel-default">
            <div class="panel-body">
                Agregar Tarea:
                <input v-model="newTarea.descripcion" v-on:keyup.13="addTarea()" name="name">
                <input type="button" value="Agregar Tarea" @click="addTarea()">
                <div class="alert alert-danger" role="alert" v-show="!newTarea.descripcion">No puede ir vacia la tarea</div>
            </div>
        </div>
        <div class="panel panel-info col-md-6" >
            <div class="panel-heading">Pendientes</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" v-for="tarea in tareas">
                        <span v-show="!tarea.completada" class="badge" @click="removeTarea(tarea)">X</span>
                        <span v-show="!tarea.completada">{{ tarea.descripcion }}</span>
                        <i v-if="!tarea.completada" @click="completar(tarea)" class="glyphicon glyphicon-unchecked"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-success col-md-6" >
            <div class="panel-heading">Listas</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" v-for="tarea in tareas">
                        <span v-show="tarea.completada" class="badge" @click="removeTarea(tarea)">X</span>
                        <span v-show="tarea.completada">{{ tarea.descripcion }}</span>
                        <i v-if="tarea.completada" @click="descompletar(tarea)" class="glyphicon glyphicon-check"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>

    <script type="text/javascript">
    window.onload=function(){
        var baseURL = 'https://vue-firebase-example.firebaseio.com/'

        /**
        * Setup firebase sync
        */

        var Tareas = new Firebase(baseURL + 'tareas')

        Tareas.on('child_added', function (snapshot) {
            var item = snapshot.val()
            item.id = snapshot.key()
            app.tareas.push(item)
        })

        Tareas.on('child_removed', function (snapshot) {
            var id = snapshot.key()
            app.tareas.some(function (user) {
                if (user.id === id) {
                    app.tareas.$remove(user)
                    return true
                }
            })
        })

        /**
        * Create Vue app
        */

        var app = new Vue({

            // element to mount to
            el: '#app',

            // initial data
            data: {
                tareas: [],
                newTarea: {
                    descripcion: '',
                    completada: false
                }
            },

            // methods
            methods: {
                addTarea: function () {
                    Tareas.push(this.newTarea)
                    this.newTarea.descripcion = ''
                },
                removeTarea: function (tarea) {
                    new Firebase(baseURL + 'tareas/' + tarea.id).remove()
                },
                completar: function(tarea){
                    var completar = new Firebase(baseURL + 'tareas/' + tarea.id);
                    completar.update({completada:true});
                },
                descompletar: function(tarea){
                    var completar = new Firebase(baseURL + 'tareas/' + tarea.id);
                    completar.update({completada:false});
                }
            }
        })
    }

    </script>
</body>
</html>
